* {
  transition: 200ms;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

section {
  margin-bottom: 2rem;
}

.main {
  padding-left: 10vw;
  padding-right: 10vw;
}

:root {
  --pale: #F9EDEC; 
  --midnight: #35455D;
  --stone: #86A9B9;
  --lightgrey: #B7B7B7;
}




/* typography stlye*/
h1 {
  font-size: 4.5rem;
  line-height: 1rem;
  margin-bottom: 0.1rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
}



subheader {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

/* top nav section */
.top-nav {
  /* border: 1px solid blue; */
  width: 100%;
  height: 70px;
  display: grid; 
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(1,1fr);
}

#logo {
  grid-column: 2 / 3;
  background-image: url(../images/logo-dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  grid-column: 3 / 12;
  display: flex;
  justify-content: right;
  align-items: center;
  }

nav a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--midnight);
}

nav a:hover {
  color: var(--stone);
}



/* hero bio section */
.hero {
  /* border: 1px solid lime; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 10% 80% 10%;
}

.social-side {
  /* border: 1px solid aqua; */
  grid-column: 1 / 1;
  grid-row: 1 / 6;
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.social-side ul {
  padding-left: 0;
  position: fixed;
}

.social-side ul li {
  list-style: none;
  padding-bottom: 0.5rem;
}

#side-fb {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/social-facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}

#side-linkedin {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/social-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#side-email {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/social-email.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bio {
  grid-column: 2 / 12;
  grid-row: 1 / 6;
  background-color: var(--pale);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.bio h1, .bio h2, .bio h5 {
  grid-column: 1 / 9;
}

.self-portrait{
  width: 100%;
  height: 100%;
  background-image: url(../images/self-portrait.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column: 9 / 13;
  grid-row: 2 / 3;
}

/* mobile nav */

#mobile-nav-container {
  height: 100vh;
  background-color: var(--pale);
  padding: 2rem;
  opacity: 1;
  animation: nav-slide-in 1000ms;
}

@keyframes nav-slide-in {
  0% {margin-left:700px;}
  100% {margin-left:0px;}
}

.mobile-nav-show {
  display: none;
  opacity: 0;
  animation: nav-slide-out 1000ms;
  animation-direction: alternate;
}

@keyframes nav-slide-out {
  0% {margin-left: 0px;}
  100% {margin-left:700px;}
}


.mobile-brand {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  align-items: baseline;
  border-bottom: 1px solid var(--midnight);
  padding-bottom: 0.5rem;
}

#mobile-logo {
  
  background-image: url(../images/logo-dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 2rem;
  grid-column: 1 / 12;

}

.close-nav {
  grid-column: 12 / 13;
  display: flex;
  justify-content: end;
}

.mobile-nav-links {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--midnight);
}

.mobile-nav-links ul {
  padding-left: 0px;
}

.mobile-nav-links ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 0px;
}

.mobile-social-links {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#burger {
  text-decoration: none;
  cursor: pointer;
  color: var(--midnight);
}

#burger:hover {
  color: var(--stone);
}

.close-nav {
  color: var(--midnight);
}

.close-nav:hover {
  color: var(--stone) ;
}

/* portfolio showcase section */

.section-header, .showcase {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 400px 300px 300px;
}

.section-header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(1,1fr);
}

.section-header h3 {
  display: grid;
  grid-column: 2 / 12;
  grid-row: 1 / 1;
}

.showcase {
  gap: 1rem;
}


.project-cards {
  border-radius: 1rem;
}

.showcase :nth-child(1) {
  grid-column: 2 / 12;
  grid-row: 1 / 1;
  width: 100%;
}

.showcase :nth-child(2) {
  grid-column: 2 / 7;
  grid-row: 2 / 2;
  width: 100%;
}

.showcase :nth-child(3) {
  grid-column: 7 / 12;
  grid-row: 2 / 2;
  width: 100%;
}

.showcase :nth-child(4) {
  grid-column: 2 / 7;
  grid-row: 3 / 3;
  width: 100%;
}

.showcase :nth-child(5) {
  grid-column: 7 / 12;
  grid-row: 3 / 3;
  width: 100%;
}

#project1 {
  background-image: url(../images/mockup1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#project2 {
  background-image: url(../images/mockup1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#project3 {
  background-image: url(../images/mockup1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#project4 {
  background-image: url(../images/mockup1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

#project5 {
  background-image: url(../images/mockup1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.project-descriptions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgba(249, 237, 236, 0.8);
}

/* my skills section */
.skills {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 5% 90% 5%;
  margin-top: 5rem;
}

.skills-container{
  background-color: var(--pale);
  grid-column: 2 / 12;
  grid-row: 2 / 2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(1,1fr);
  border-radius: 1rem;
}

.skills-description {
  grid-column: 1 / 8;
  grid-row: 1 / 1;
}

.tools {
  padding: 1rem;
  margin-right: 2rem;
  background-color: white;
  border: 3px solid var(--pale);
  border-radius: 1rem;
  grid-column: 8 / 12;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 0.5rem;
}
#software-ai {
  background-image: url(../images/Software-ai.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background-position: center;
}

#software-id {
  background-image: url(../images/Software-id.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  background-position: center;
}

#software-ps {
  background-image: url(../images/Software-ps.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  background-position: center;
}

#software-lr {
  background-image: url(../images/Software-lr.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 4 / 4;
  grid-row: 1 / 1;
  background-position: center;
}

#software-xd {
  background-image: url(../images/Software-xd.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  background-position: center;
}

#software-figma {
  background-image: url(../images/Software-figma.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  background-position: center;
}

#software-html {
  background-image: url(../images/Software-html.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1 / 1;
  grid-row: 3 / 3;
  background-position: center;
}

#software-css {
  background-image: url(../images/Software-css.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  background-position: center;
}

#software-js {
  background-image: url(../images/Software-js.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  background-position: center;
}

#software-vs {
  background-image: url(../images/Software-vs.png);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  background-position: center;
}

/* footer section */
#footer {
  background-color: var(--midnight) ;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-top: 5rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 70% 30%;
  margin-bottom: 0;
}

.end-note h2, .end-note p {
  text-align: center;
  color: white;
  margin-top: 0.1rem;
  margin-bottom: 2rem;
}

.end-note {
  grid-column: 3 / 11;
  grid-row: 1 / 1;
}

.bottom-nav {
  align-items: center;
  grid-column: 3 / 11;
  grid-row: 2 / 2;
  border-top: 1px solid white;
  }

.bottom-nav ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.bottom-nav ul li {
  display: inline-block;
  margin-right: 1rem;
  color: white;
}

.bottom-nav ul li:last-child {
  margin-right: 0rem;
}

.footer-logo {
  display: flex;
  grid-column: 10 / 11;
  grid-row: 2 / 2;
  justify-content: flex-end;
}

#logo-bottom {
  width: 3rem;
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: end;
  margin-top: 1rem;
}

.hero-banner-overlay {
  height: 70vh;
  background-image: url(../images/akf-mockup-overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5rem;
  color: var(--pale);
}

.hero-banner {
  height: 70vh;
  background-image: url(../images/akf-mockup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--pale);
  margin-bottom: 0;
}

.hero-banner-overlay h2 {
  line-height: 4rem;
  text-align: left;
  font-weight: 500;
}

.project-background {
  grid-column: 2 / 12;
  grid-row: 1 / 6;
  background-color: var(--pale);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 20% 80%;
}

.project-background table h4 {
  font-size: 1rem;
  font-weight: 600;
}

.project-background table h5 {
  font-size: 1rem;
  font-weight: 300;
}

.project-phases-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  padding-top: 2rem;
  border-bottom: 3px solid var(--pale);
}

.phase-left {
  grid-column: 1 / 5;
}

.phase-right {
  grid-column: 5 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phase-full {
  grid-column: 1 / 13;
}

.phase-left h3 {
  margin-top: 0;
  margin-bottom: 0rem;
}

.phase-header > * {
  color: var(--stone);
}

.phase-header {
  border-bottom: 2px solid var(--stone);
  padding-bottom: 1rem;
}

.phase-content {
  padding-top: 0.5rem;
}

.phase-content p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.phase-right p {
  text-align: center;
  font-style: italic;
  color: var(--lightgrey);
}

#casestudy1-phase1 {
  height: 100%;
  background-image: url(../images/akf-current-website.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#casestudy1-phase2 {
  height: 100%;
  background-image: url(../images/akf-competitor-analysis.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#casestudy1-phase5 {
  height: 100%;
  background-image: url(../images/akf-user-testing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-statement-wrapper {
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--pale);
  padding-bottom: 8rem;
  padding-top: 6rem;
}

.project-phases-wrapper-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 80%;
  padding-bottom: 4rem;
  padding-top: 2rem;
  border-bottom: 3px solid var(--pale);
}

.phase-content-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2 , 1fr);
  height: 1000px;
}

.project-conclusion-wrapper {
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: var(--pale);
  padding-bottom: 8rem;
  padding-top: 6rem;
}

.project-conclusion-wrapper > * {
  text-align: center;
}


#wireframe {
  grid-column: 1 / 13;
  grid-row: 1 / 1;
  height: 100%;
  background-image: url(../images/akf-wireframing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#responsive-design {
  grid-column: 1 / 13;
  grid-row: 2 / 2;
  height: 100%;
  background-image: url(../images/akf-responsive-prototype.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.more-projects {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1rem;
  height: 300px;
}

.more-projects :nth-child(1) {
  grid-column: 2 / 5;
  grid-row: 1 / 1;
  width: 100%;
}

.more-projects :nth-child(2) {
  grid-column: 5 / 8;
  grid-row: 1 / 1;
  width: 100%;
}

.more-projects :nth-child(3) {
  grid-column: 8 / 11;
  grid-row: 1 / 1;
  width: 100%;
}
.more-projects :nth-child(4) {
  grid-column: 11 / 12;
  grid-row: 1 / 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--midnight);
}

.more-projects :nth-child(4):hover {
  color: var(--pale);
}